body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.section-solutions,
footer {
  background-color: #2e2f42;
}
.section-team {
  background-color: #fcfcfc;
}
.section-team li {
  background-color: #ffffff;
}
nav {
  color: #27283d;
}
nav a {
  color: currentColor;
}
address {
  color: #434455;
}
address a {
  color: currentColor;
}
.section-solutions h1 {
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
}
.section-features h3,
.section-team h2,
.section-team h3,
.section-portfolio h2,
.section-portfolio h3 {
  color: #2e2f42;
}
.section-features p,
.section-team p,
.section-portfolio p {
  color: #434455;
}
footer {
  color: #f4f4fd;
}
footer a {
  color: currentColor;
}
