body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.section-solutions,
footer {
  background-color: #2e2f42;
}
.section-team {
  background-color: #fcfcfc;
}
.section-team li {
  background-color: #ffffff;
}
.section-solutions h1 {
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
}
.section-features h3,
.section-team h2,
.section-team h3,
.section-portfolio h2,
.section-portfolio h3 {
  color: #2e2f42;
}

footer {
  color: #f4f4fd;
}
footer a {
  color: currentColor;
}
.link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.address-list {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
