body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;

  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-accent-head {
  color: #2e2f42;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.address-list {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
.section-solutions {
  background-color: #2e2f42;
}
.solution-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.section-features-items {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-features-items-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background-color: #f4f4fd;
}
.section-team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-team-list-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team-list-items {
  background-color: #ffffff;
}
.section-portfolio-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.section-portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-portfolio-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.logo-accent-foot {
  color: #f4f4fd;
}
.footer-content {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
